VITE_API_URL='www.google.com'

VITE_SUPABASE_URL=https://uahptxntfnzxkmuqtofb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_izkqOr7IENAiC98iVdMMsQ_AOIMVcb1
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADXObwhhLelqagfF
